
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/style2.css">
    <link rel="stylesheet" href="~/css/superfish.css">
    <link rel="stylesheet" href="~/css/style3.css">
    <script type="text/javascript">
            function register()
            {
                var registerid = $("#uid").val();
                if (registerid.length < 5 || registerid.length > 20)
                {
                    $("#registerMessage").text("账号应不低于5位且不超过20位");
                    return;
                }
                var registerpwd = $("#upwd").val();
                if (registerpwd.length < 5 || registerpwd.length > 64)
                {
                    $("#registerMessage").text("密码应不低于5位且不超过64位");
                    return;
                }
                var registerrepwd = $("#urepwd").val();
                if (registerpwd != registerrepwd)
                {
                    $("#registerMessage").text("两次密码不一致");
                    return;
                }
                var registerpincode = $("#upincode").val();
                if (registerpincode.length != 18)
                {
                    $("#registerMessage").text("身份证错误");
                    return;
                }
                var registermail = $("#umail").val();
                if (registermail.indexOf("@@") < 0)
                {
                    $("#registerMessage").text("邮箱错误");
                    return;
                }
                var registerceilphone = $("#uceilphone").val();
                if (registerceilphone.length != 11)
                {
                    $("#registerMessage").text("电话错误");
                    return;
                }
                $.ajax(
                    {
                        url: '@Url.Action("Register")',
                        type: "Post",
                        dataType: "text",
                        data: {
                            "registerid": registerid,
                            "registerpwd": registerpwd,
                            "registerpincode": registerpincode,
                            "registername": $("#uname").val(),
                            "registermail": registermail,
                            "registerceilphone": registerceilphone
                        },
                        success: function (result, status) {
                            if (result == "1") {
                                alert("注册成功");
                                window.location = '@Url.Action("Login")';
                            }
                            else {
                                alert("注册失败,用户名或身份证已被注册");
                            }
                        },
                        error: function (xhr) {
                            alert("错误" + xhr.responseText);
                        }
                    }
                );
            }
        function tologin() {
            $("#reloginbtn").click(
                function () {
                    window.location = '@Url.Action("Login")';
                }
            )
        }
    </script>
</head>
<body style="background: url('../../images/register.png') no-repeat; background-size: 100% 108%">

    <div class="container">
        <div class="row" style="margin-top: 15vh">
            <div class="col-lg-8 col-lg-offset-2">
                <form action="#" class="fh5co-form animate-box" data-animate-effect="fadeIn" style="background-color: #c0a16b; border-radius: 10px;padding-top: 5px; padding-bottom: 5px">
                    <div class="form-group">
                        <span id="registerMessage"></span>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="uid" class="sr-only">用户名</label>
                        <input type="text" class="form-control" style="border-radius: 10px" id="uid" placeholder=" 用户名" autocomplete="off" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="upwd" class="sr-only">密码</label>
                        <input type="password" class="form-control" style="border-radius: 10px" id="upwd" placeholder=" 密码" autocomplete="off" required>
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="urepwd" class="sr-only">确认密码</label>
                        <input type="password" class="form-control" style="border-radius: 10px" id="urepwd" placeholder=" 确认密码" autocomplete="off" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="upincode" class="sr-only">身份证</label>
                        <input type="text" class="form-control" style="border-radius: 10px" id="upincode" placeholder=" 身份证" autocomplete="off" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="uname" class="sr-only">姓名</label>
                        <input type="text" class="form-control" style="border-radius: 10px" id="uname" placeholder=" 姓名" autocomplete="off" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="umail" class="sr-only">电子邮件</label>
                        <input type="text" class="form-control" style="border-radius: 10px" id="umail" placeholder=" 电子邮件" autocomplete="off" required>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="uceilphone" class="sr-only">移动电话</label>
                        <input type="text" class="form-control" style="border-radius: 10px" id="uceilphone" placeholder=" 移动电话" autocomplete="off" required>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="button" id="registerbtn" class="form-control btn btn-primary" value="注册" style="background-color: #2b542c; border-radius: 10px" onclick="register();">
                    </div>
                    <div class="form-group">
                        <input type="button" id="reloginbtn" class="form-control btn btn-primary" value="返回登录界面" style="background-color: #2b542c; border-radius: 10px" onclick="tologin();">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div class="row" style="padding-top: 60px; clear: both;">
            <div class="col-md-12 text-center"><p><small>&copy; All Rights Reserved. Designed by Deal Hunter</small></p></div>
        </div>
    </footer>

</body>
</html>
